*{outline: 1px solid gray;
}
.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 4px;
    height: 36px;
    width: 100%;
}
.sign_in{
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    width: 111px;
    height: 36px;
    padding-left:0.5rem;
    color: var(--akana-green, #156963);
font-family: Nunito;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 142.857% */
}
.sign_in:hover{
    background-color: var(--akana-green, #156963);
    color: white;
}
.sign_up{
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    width: 111px;
    height: 36px;
    padding-left:0.5rem;
    color: var(--akana-green, #156963);
font-family: Nunito;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 142.857% */
}
.sign_up:hover{
    background-color: var(--akana-green, #156963);
    color: white;
}
.search,.shopping_cart{
    width: 20px;
    height: 20px;
    gap: 40px;
}
.shopping_cart{
    padding-left: 40px;  
}
a.button {
    display: inline-block;
    background: white;
    padding: 12px;
    border-radius: 0px;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 18px;
    line-height: 1;
    font-weight: 100;
}

.previous,.next {
    width: 105px;
    height: 29px;
    color: var(--Gray-1, #333);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.kaktus_plant,.rahasia_plant{
    color: #156963;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.img_arrow_back,.img_arrow_next{
    height: 20px;
    width: 20px;
    margin-right: 3px;
}
.main_info{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
}
.photo_plant{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
}
.kembang{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
    justify-content: center;
    align-content: center;
    padding-left: 3em;
}
.buttons{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
    align-self: flex-end;
    padding-bottom: 5em;
    gap: 1em;
}
.previous_button,.next_button{
    width: 213px;
height: 83px;
}
.previous_button:hover{
    background-color:#156963 ;
    transition: 0,5s;
}
.next_button:hover{
    background-color:#156963 ;
    transition: 0,5s; 
}
.kaktus_plant:hover{
    color: rgba(255, 255, 255, 1);
    
}
.rahasia_plant:hover{
    color: rgba(255, 255, 255, 1);
}
.h1{
    color: var(--akana-green, #156963);
    font-family: Montserrat;
    font-size: 68px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.main_text{
    color: var(--kq-black, #2C1500);
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 177.778% */
}
.about-shop{
    display: flex;
    flex-direction: row;
    padding: 2rem;
    gap:4rem;
}

/*about-shop__fast_delivery_block*/
.about-shop__fast_delivery_block{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: start;
    padding: 0.5rem;
}
.car_img{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 48px;
height: 48px;
flex-shrink: 0;
}
.fast_delivery__header{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2; 
    color: var(--akana-green, #156963);
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */ 
}
.fast_delivery__text{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;  
    color: var(--kq-black, #2C1500);
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 160% */
}

/*about-shop__great_customer_service_block*/
.about-shop__great_customer_service_block{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: start;
    padding: 0.5rem;
}
.headphones_img{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}
.great_customer_service__header{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2; 
    color: var(--akana-green, #156963);
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */
}
.great_customer_service__text{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;  
    color: var(--kq-black, #2C1500);
font-family: Montserrat;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 160% */
}

/*about-shop__original_plants_block*/
.about-shop__original_plants_block{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: start;
    padding: 0.5rem;
}
.plant_img{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}
.original_plants__header{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2; 
    color: var(--akana-green, #156963);
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */
}
.original_plants__text{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;  
    color: var(--kq-black, #2C1500);
font-family: Montserrat;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 160% */
}

/*about-shop__affordable_price_block*/
.about-shop__affordable_price_block{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: start;
    padding: 0.5rem;
}
.dollar-symbol_img{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}
.affordable_price__header{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2; 
    color: var(--akana-green, #156963);
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */
}
.affordable_price__text{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;  
    color: var(--kq-black, #2C1500);
font-family: Montserrat;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 160% */
}

.featured_plants__header{
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
}

.gallery{
    display: flex;
    gap:3rem;
}
/*gallery__kaktus_plants_1*/
.gallery__kaktus_plants_1{
    display: flex;
    flex-direction: column;
}
.kaktus_plants_1_img{
    width: 200px;
height: 266.667px;
flex-shrink: 0;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.gallery__kaktus_plants_1_text{
    color: #000;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.gallery__kaktus_plants_1_price{
    color: #000;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

/*gallery__landak_plants*/
.gallery__landak_plants{
    display: flex;
    flex-direction: column;
}
.landak_plants_img{
    width: 200px;
height: 266.667px;
flex-shrink: 0;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.gallery__landak_plants_text{
    color: #000;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.gallery__landak_plants_price{
    color: #000;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

/*gallery__kecubung_plants_1*/
.gallery__kecubung_plants_1{
    display: flex;
    flex-direction: column;
}
.kecubung_plants_1_img{
    width: 200px;
height: 266.667px;
flex-shrink: 0;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.gallery__kecubung_plants_1_text{
    color: #000;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.gallery__kecubung_plants_1_price{
    color: #000;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

/*gallery__kecubung_plants_2*/
.gallery__kecubung_plants_2{
    display: flex;
    flex-direction: column;
}
.kecubung_plants_2_img{
    width: 200px;
height: 266.667px;
flex-shrink: 0;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.gallery__kecubung_plants_2_text{
    color: #000;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.gallery__kecubung_plants_2_price{
    color: #000;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

/*gallery__kecubung_plants_3*/
.gallery__kecubung_plants_3{
    display: flex;
    flex-direction: column;
}
.kecubung_plants_3_img{
    width: 200px;
height: 266.667px;
flex-shrink: 0;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.gallery__kecubung_plants_3_text{
    color: #000;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.gallery__kecubung_plants_3_price{
    color: #000;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

/*by-more-plants*/
.by-more-plants{
    display: grid;
    grid-template-columns: 1fr 55%;
    grid-template-rows: 25% 25% 1fr;
    gap: 1rem;
    align-items:center;
    justify-items: start;
}
.by-more-plants__header{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: start;
    text-align:start;
    padding-left: 1rem;
    width: 25rem;
    color: var(--kq-black, #2C1500);
font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 56px; /* 140% */
}
.by-more-plants__text{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3; 
    padding-left: 1rem;
    width: 26rem;
    color: var(--kq-black, #2C1500);
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
}
.by-more-plants__left_photo{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;  
    width:100%;
    flex-shrink: 0;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.by-more-plants__right_photo{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;  
    width:100%;
    height: 769.5px;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}