/* *{
    outline: 1px solid grey;
} */
.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1.5rem;
    height: 36px;
    width: 100%;
    
}
.sign_in{
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    width: 111px;
    height: 36px;
    padding-left:0.5rem;
    color: var(--akana-green, #156963);
font-family: Nunito;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 142.857% */
}
.sign_in:hover{
    background-color: var(--akana-green, #156963);
    color: white;
    cursor: pointer;
}
.sign_up{
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    width: 111px;
    height: 36px;
    padding-left:0.5rem;
    color: var(--akana-green, #156963);
font-family: Nunito;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 142.857% */
}
.sign_up:hover{
    background-color: var(--akana-green, #156963);
    color: white;
    cursor: pointer;
}
.search,.shopping_cart{
    width: 20px;
    height: 20px;
    gap: 40px;
}
.shopping_cart{
    display: inline-flex;
    justify-items: start;
    
}
a.button {
    display: inline-block;
    background: white;
    padding: 12px;
    border-radius: 0px;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 18px;
    line-height: 1;
    font-weight: 100;
}

.previous,.next {
    width: 105px;
    height: 29px;
    color: var(--Gray-1, #333);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.kaktus_plant,.rahasia_plant{
    color: #156963;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: end;

}


.img_arrow_back,.img_arrow_next{
    height: 20px;
    width: 20px;
    margin-right: 3px;
}
.main_info{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 30%;
    
}
.photo_plant{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
    
}
.kembang{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
    justify-content: center;
    align-content: center;
   padding-left: 4rem;
    padding-top: 4rem;
}
.buttons{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
    align-self:auto;
}
.previous_button,.next_button{
flex-shrink: 0;
gap: 1em;
    width: max-content;
height:8rem;

}
.previous_button:hover{
    background-color:#156963 ;
    transition: 0,5s;
    cursor: pointer;
}
.next_button:hover{
    background-color:#156963 ;
    transition: 0,5s; 
    cursor: pointer;
}
.kaktus_plant:hover{
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    
}
.rahasia_plant:hover{
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}
.h1{
    color: var(--akana-green, #156963);
    font-family: Montserrat;
    font-size: 68px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.main_text{
    color: var(--kq-black, #2C1500);
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 177.778% */
padding-left: 0.5rem;
padding-right: 0.5rem;
}
.about-shop{
    display: flex;
    flex-direction: row;
    /* padding-left: 2rem;
    padding-right: 2rem; */
padding-top: 6rem;
    gap:1.5rem;
}

/*about-shop__fast_delivery_block*/
.about-shop__fast_delivery_block{
    display: grid;
    grid-template-columns: 1fr 70%;
    grid-template-rows: 1fr 70%;
    align-items: center;
    justify-items: center;
    padding: 0.5rem;
}
.car_img{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 48px;
height: 48px;
flex-shrink: 0;
align-self: self-start;
}
.fast_delivery__header{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2; 
    color: var(--akana-green, #156963);
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */ 
}
.fast_delivery__text{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;  
    color: var(--kq-black, #2C1500);
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 160% */
}

/*about-shop__great_customer_service_block*/
.about-shop__great_customer_service_block{
    display: grid;
    grid-template-columns: 1fr 70%;
    grid-template-rows: 1fr 70%;
    align-items: start;
    padding: 0.5rem;
    text-align: justify;
}
.headphones_img{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    align-items: start;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}
.great_customer_service__header{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2; 
    color: var(--akana-green, #156963);
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */
margin-left: 1rem;
}
.great_customer_service__text{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;  
    color: var(--kq-black, #2C1500);
font-family: Montserrat;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 160% */
}

/*about-shop__original_plants_block*/
.about-shop__original_plants_block{
    display: grid;
    grid-template-columns: 1fr 70%;
    grid-template-rows: 1fr 70%;
    align-items: center;
    justify-items: center;
    padding: 0.5rem;
}
.plant_img{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}
.original_plants__header{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2; 
    color: var(--akana-green, #156963);
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */
}
.original_plants__text{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;  
    color: var(--kq-black, #2C1500);
font-family: Montserrat;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 160% */
}

/*about-shop__affordable_price_block*/
.about-shop__affordable_price_block{
    display: grid;
    grid-template-columns: 1fr 70%;
    grid-template-rows: 1fr 70%;
    align-items: center;
    justify-items: center;
    padding: 0.5rem;
}
.dollar-symbol_img{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}
.affordable_price__header{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2; 
    color: var(--akana-green, #156963);
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */
}
.affordable_price__text{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;  
    color: var(--kq-black, #2C1500);
font-family: Montserrat;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 160% */
}
.featured_plants__header{
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
}
.featured_plants{
    padding-top: 6rem;
}
.gallery{
    display: flex;
    gap:3rem;
    padding-top: 2rem;
}
/*gallery__kaktus_plants_1*/
.gallery__kaktus_plants_1{
    display: flex;
    flex-direction: column;
}
.kaktus_plants_1_img{
    width: 100%;
height: auto;
flex-shrink: 0;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.gallery__kaktus_plants_1_text{
    color: #000;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.gallery__kaktus_plants_1_price{
    color: #000;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin: 0;
}

/*gallery__landak_plants*/
.gallery__landak_plants{
    display: flex;
    flex-direction: column;
}
.landak_plants_img{
    width: 100%;
    height: auto;
flex-shrink: 0;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.gallery__landak_plants_text{
    color: #000;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.gallery__landak_plants_price{
    color: #000;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin: 0;
}

/*gallery__kecubung_plants_1*/
.gallery__kecubung_plants_1{
    display: flex;
    flex-direction: column;
}
.kecubung_plants_1_img{
    width: 100%;
    height: auto;
flex-shrink: 0;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.gallery__kecubung_plants_1_text{
    color: #000;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.gallery__kecubung_plants_1_price{
    color: #000;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin: 0;
}

/*gallery__kecubung_plants_2*/
.gallery__kecubung_plants_2{
    display: flex;
    flex-direction: column;
}
.kecubung_plants_2_img{
    width: 100%;
    height: auto;
flex-shrink: 0;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.gallery__kecubung_plants_2_text{
    color: #000;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.gallery__kecubung_plants_2_price{
    color: #000;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin: 0;
}

/*gallery__kecubung_plants_3*/
.gallery__kecubung_plants_3{
    display: flex;
    flex-direction: column;
}
.kecubung_plants_3_img{
    width: 100%;
    height: auto;
flex-shrink: 0;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.gallery__kecubung_plants_3_text{
    color: #000;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.gallery__kecubung_plants_3_price{
    color: #000;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin: 0;
}

/*by-more-plants*/
.by-more-plants{
    display: grid;
    grid-template-columns: 1fr 50%;
    grid-template-rows: 30% 30% 1fr;
    gap: 1rem;
    align-items: end;
    justify-items: start;
    padding-top: 6rem;
}
.by-more-plants__header{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: start;
    text-align:start;
    padding-left: 1rem;
    width: 25rem;
    color: var(--kq-black, #2C1500);
font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 56px; /* 140% */
}
.by-more-plants__text{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3; 
    padding-left: 1rem;
    width: 26rem;
    color: var(--kq-black, #2C1500);
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
padding-bottom: 3rem;
}
.by-more-plants__left_photo{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;  
    width:100%;
    flex-shrink: 0;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.by-more-plants__right_photo{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;  
    width:100%;
    justify-self: start;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.our-shop{
    padding-top: 6rem;
}
.our-shop-block{
display: grid;
grid-template-columns: 60% 1fr;
grid-template-rows: 1fr 1fr;
justify-items: stretch;
background-color: #F3F4F6; 
width: 100%;
height: 22rem;
}
.our-shop-block__header{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
    color: var(--kq-black, #2C1500);
font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 56px; /* 140% */
text-align: start;
padding-top: 5rem;
}
.our-shop-block__button{
    padding-left: 5rem;
}
.our-shop-block__btn{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    width: 152px;
    height: 40px;
    justify-self: start;
    color: var(--akana-green, #156963);
text-align: center;
font-family: Nunito;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 142.857% */
}
.our-shop-block__btn:hover{
    background-color: var(--akana-green, #156963);
    color: white;  
    cursor: pointer;}
.sanni-sahil_img{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3; 
    width: 100%;
    height: 100%;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-top: 6rem;
padding-bottom: 7rem;
align-items: center;
justify-items:stretch;

}
.plantku{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    color: var(--akana-green, #156963);
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 100% */
letter-spacing: 1.2px;
text-transform: uppercase;
}
.plantku-house{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3; 
    color: var(--Gray-1, #333);
font-family: Work Sans;
font-size: 16px;
font-style:normal;
font-weight: 800;
line-height: normal;
}
.address{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3; 
    color: var(--Gray-2, #4F4F4F);
font-family: Work Sans;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 153.846% */
}
.perusahaan{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    color: #000;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 16px; /* 100% */ 
justify-self: center;
}
.tentang-kami{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3; 
    color: #000;
font-family: Work Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 114.286% */ 
justify-self: center; 
}
.hubungi-kami{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4; 
    color: #000;
    font-family: Work Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 114.286% */  
    justify-self: center;
}
.produk{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2; 
    color: #000;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 800;
line-height: 16px; /* 100% */      
}
.tanaman{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3; 
    color: #000;
    font-family: Work Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 114.286% */ 
}
.tanaman-lain{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;   
    color: #000;
font-family: Work Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 114.286% */ 
}
.berlangganan-email-kami{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2; 
    color: #000;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 800;
line-height: 16px; /* 100% */ 
}
.masukan-alamat-email{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3; 
    color: #000;
    font-family: Work Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
}
.button-submit{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4; 
    display: flex;
    width:51px;
    height:22px;
gap: 10px; 
}
.btn-submit{
justify-self: start;
text-align:center;
color: var(--akana-green, #156963);


}
.btn-submit:hover{
    color: white;
    background-color:var(--akana-green, #156963) ;
    cursor: pointer;
}




/* @media screen and (max-width: 1210px){
    .buttons{
      align-self: auto;
    }   */


/* @media screen and (max-width:1140px){
            .by-more-plants__right_photo{
            width: 50wv;
            height: 50vh;
            }
} */

@media screen and (max-width:1110px){
    .main_info{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 30%;
        
}
.photo_plant{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    
}
.kembang{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: stretch;
    justify-content: center;
    align-content: center;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 2rem;
}
.buttons{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end:3;
    justify-self: center;
    align-self:auto;
    padding-top: 3rem;
    
}
.about-shop{
    gap: 1rem;
}
.by-more-plants{
    align-items: center;
}
}
@media screen and (max-width:973px){
.by-more-plants{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    align-items: center;
    justify-items: start;
    padding-top: 6rem;
}
.by-more-plants__header{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.by-more-plants__text{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3; 
}

.by-more-plants__right_photo{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;  
    width:100%;
    justify-self: end;
}
.by-more-plants__left_photo{
    display: none;
}
.about-shop{
    gap: 0.5rem;
}
.sanni-sahil_img{
    height: auto;
}
.our-shop-block__header{
padding-top: 1rem;
}

}
@media screen and (max-width:840px){
    .main_info{
        display: flex;
        flex-direction: column;
    }
    .photo_plant{
        width: 70vw;
        align-self: center;
    }
    .buttons{
        align-self: center;
        }
        .header{
            justify-content: center;
        }  
            .h1,.main_text{
                text-align: center;
            }
}
.footer{
    padding-top: 4rem;
gap: 2rem;
}
.by-more-plants{
    align-items: center;
}

@media screen and (max-width:973px){
.by-more-plants{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30% 1fr;
    padding-top: 2rem;
}
.by-more-plants__header{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    justify-self: stretch;
    text-align: center;
    padding-left: 0;
}
.by-more-plants__text{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3; 
    width: 100%;
    text-align: start;
    align-items: start;
   
}

.by-more-plants__right_photo{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;  
    width:80%;
    
}
.by-more-plants__left_photo{
    display: none;
}
    .our-shop-block__header{
        text-align: center;
        justify-items: end;
    }
   
}



