.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    outline: 1px solid gray;
}
.header{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 4px;
    height: 36px;
    width: 100%;
}
.sign_in{
    padding-right: 56px;
}
.sign_up{
    padding-left:8px;
}
.search,.shopping_cart{
    width: 20px;
    height: 20px;
    gap: 40px;
}
.shopping_cart{
    padding-left: 40px;  
}
a.button {
    display: inline-block;
    background: white;
    padding: 12px;
    border-radius: 0px;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 18px;
    line-height: 1;
    font-weight: 100;
}
a.button:hover {
    background-color:#156963;
    text-decoration: aliceblue;
    transition: 0.5s;
}
.previous,.next {
    width: 105px;
    height: 29px;
    color: var(--Gray-1, #333);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.kaktus_plant,.rahasia_plant{
    color: #156963;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.arrows_previous,.arrows_next{
    width:293px;
    margin:0;
}
.arrows_img{
    height: 20px;
    width: 26px;
}
.main{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr;
}
.photo_plant{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.info{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2; 
    display:grid;
    grid-template-columns: 1fr  ;
    grid-template-rows: 1fr 1fr;

}




